.board{
    height: 100vh;
    width: 100vw;
}

.draw{
    position:absolute;
    top:15vh;
    left:12vw;

}

.container {
    position:absolute;
    display: grid;
    grid-template-columns: [col1] 11.4vw [col2] 58vw [col3] 4vw [col4] 16vw [col5] 20vw [col6];
    grid-template-rows: [line1] 14vh [line2] 34vh [line3] 100px [line4];
    border: 1px solid #000;
}

.item-a {
    grid-column: col2 / col3;
    grid-row: line2 / line3;
    border: 1px solid #000;
}



.item-b {
    float: left;
    grid-column: col4 / col5;
    grid-row: line2 / line3;
    border: 1px solid #000;
}



.item-b img {
    margin-left: 6%;
}

.item-c {
    float: left;
    grid-column: col4 / col5;
    grid-row: line2 / line3;
    border: 1px solid #000;
}

.item-d {
    float: left;
    grid-column: col4 / col5;
    grid-row: line2 / line3;
    border: 1px solid #000;
}