.board{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    /* background: rgb(230, 230, 230); */
}


.containerCanvas {
    position:absolute;
    display: grid;
    grid-template-columns: [col1] 7vw [col2] 3vw [col3] 24vw [col4] 10vw [col5] 20vw [col6] 7vw [col7];
    grid-template-rows: [line1] 56vh [line2] 5.5vh [line3] 22.8vh [line4] 6.8vh [line5];
}


.draw{
    position:absolute;
    z-index: 1;
    top: 7.4vh;
    left: 7.4vw;
}

.settings {
    grid-column: col2 / col3;
    grid-row: line2 / line3;
    z-index: 2;
    /* border: 1px solid #000; */
    /* border: 1px solid #000; */
}
.settings input{
    width: 100%;
    height: 100%;
}

.done {
    grid-column: col4 / col5;
    grid-row: line4 / line5;
    z-index: 2;
    /*border: 1px solid #000;*/
}

.done img{
    width: 100%;
    height: 100%;
}

.erase{
    float: left;
    grid-column: col6 / col7;
    grid-row: line2 / line3;
    z-index: 2;
    /*border: 1px solid #000;*/
}

.erase img{
    width: 40%;
    height: 100%;
    margin-right: 6%;
}

.containerControlPanel {
    position:absolute;
    display: grid;
    grid-template-columns: [c1] 74vw [c2] 18vw [c3];
    grid-template-rows: [l1] 60vh [l2] 30vh [l3];

}

.lifes_a {
    float: left;
    grid-column: c2 / c3;
    grid-row: l2 / l3;
    z-index: 2;
    /*border: 1px solid #000;*/
}

.lifes_a .lifes {
    margin-left: 10%;
    width: 18%;
}

.lifes_a .help {

    margin-left: 15%;
    margin-top: 10%;
    width: 5%
}

.lifes_a .desc_help {
    margin-left: 0%;
    margin-left: 2%;
    width: 45%
}


/* CSS PARA AS CENAS DA SOPA DE LETRAS */

.containerLetters{
    position:absolute;
    display: grid;
    grid-template-columns: [cl1] 12vw [cl2] 56vw [cl3];
    grid-template-rows: [ln1] 59vh [ln2] 16vh [ln3] 2vh [ln4] 5vh [ln5];
}

.sopa{
    grid-column: cl2 / cl3;
    grid-row: ln2 / ln3;
    z-index: 2;
    border: 2px solid rgb(255, 255, 255);
}

.word{
    grid-column: cl2 / cl3;
    grid-row: ln4 / ln5;
    z-index: 2;
    /*border: 2px solid rgb(255, 255, 255);*/
}

.help{
  grid-column: cl2 / cl3;
  grid-row: ln7 / ln8;
  z-index: 2;
  /*border: 2px solid rgb(255, 255, 255);*/
}


/*
#r{
  background: url('LETRAS/r.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

#s{
  background: url('LETRAS/s.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

#t{
  background: url('LETRAS/t.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#u{
  background: url('LETRAS/u.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#v{
  background: url('LETRAS/v.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#x{
  backgrounde: url('LETRAS/x.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#z{
  background: url('LETRAS/z.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#i{
  background: url('LETRAS/i.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#j{
  background: url('LETRAS/j.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#k{
  background: url('LETRAS/k.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#l{
  background: url('LETRAS/l.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#m{
  background: url('LETRAS/m.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#n{
  background: url('LETRAS/n.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#o{
  background: url('LETRAS/o.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#p{
  background: url('LETRAS/p.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#a{
  background: url('LETRAS/a.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#b{
  background: url('LETRAS/b.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#c{
  background: url('LETRAS/c.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#d{
  background: url('LETRAS/d.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#e{
  background: url('LETRAS/e.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#f{
  background: url('LETRAS/f.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#g{
  background: url('LETRAS/g.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#h{
  background: url('LETRAS/h.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#y{
  background: url('LETRAS/y.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#w{
  background: url('LETRAS/w.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
*/
.fill {
  /*background-image: url('LETRAS/botões-33.png');
  */position: relative;
  height: 30px;
  width: 30px;
  /*background-size: 30px 30px;*/
  margin: 0 auto;
  /*top: 2px;
  left: 2px;*/
  cursor: pointer;
  background-position: center;
}

.empty {
  display: inline-block;
  height: 35px;
  width: 40px;
  margin: 8px;
  /*border: solid 1px salmon;
  /*background: white;*/
}

.emptyW {
  display: inline-block;
  height: 32px;
  width: 40px;
  margin: 0px;
  margin-top: 4px;
  /*margin-left: 2px;
  margin-right: 2px;*/
  /*border: solid 1px salmon;
  /*background: white;*/
}

input[type=image]:disabled
{
    opacity:0.5;
}
